<?xml version="1.0" ?>
<interface xmlns="http://zero-install.sourceforge.net/2004/injector/interface" uri="http://mycompany.example/myapp"> <!-- App's unique URI -->
  <name>MyHelloApp</name>
  <summary>Uses the remote hello library</summary>

  <implementation id="." version="1.0.1">
    <command name="run" path="use_hello_world.py">
      <runner interface='https://apps.0install.net/python/python.xml' version='3..'/>
    </command>

    <!-- REQUIRE the REMOTE library -->
    <!-- Points to the library on GitHub -->
    <requires interface="http://localhost:8081/0install-github-feed/anonymous-author-11/0install-testing">
      <!-- Version constraint (optional but good practice) -->
      <version not-before="0.1.6"/>
      <!-- Add the 'lib' subdirectory within the cached library to PYTHONPATH -->
      <environment name="PYTHONPATH" insert="lib" mode="prepend"/>
    </requires>
  </implementation>
</interface>